.cheb-jubilee {
<<<<<<< HEAD
      

    & a {
        display: inline-block;
=======
    position: absolute;
    top: 100%;
    right: 0;
    width: 36%;
    transform: translateY(14%);

    & a {
>>>>>>> daed849c45693414113d1253ff5e9c42f14ae247
        overflow: hidden;
        box-shadow: 0px 0px 20px 1px rgba(34, 60, 80, 0.2);
        border-radius: 5px;
        display: inline-flex;        
        color: inherit;
        text-decoration: none;
        transition: 0.5s;

        &:hover,
        &:focus {
            transform: scale(1.05);
            box-shadow: 0px 0px 37px 1px rgba(34, 60, 80, 0.2);
        }
    }

    & img {
<<<<<<< HEAD
        width: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.navigation_logo .cheb-jubilee {
    position: absolute;  
    top: 100%;
    right: 0;
    width: 36%;
    transform: translateY(14%);

    @media (min-width: 1200px) {
        display: none;
    }
}

.navigation_contacts {
    @media (min-width: 1200px) {
        position: relative;
    }
}

.navigation_contacts .cheb-jubilee {
    @media (max-width: 1199px) {
        display: none;
    }    


    position: absolute;  
    top: 25px;
    left: 0;
    width: 75px;
    transform: translateX(-113%);

}

.header__contacts {
    position: relative;

    & .cheb-jubilee {
        @media (max-width: 1199px) {
            display: none;
        }    
    
    
        position: absolute;  
        top: 0;
        left: 0;
        width: 75px;
        transform: translateX(-113%);
    }
=======
        object-fit: contain;
        object-position: center;
    }
>>>>>>> daed849c45693414113d1253ff5e9c42f14ae247
}